<p>ingredient-detail works!</p>
<div>
    <div class="col">
        <button mat-button (click)="closeDialog()" [routerLink]="['/cantiniere/ingredients']">Retour</button>
        {{ ingredient.id }}
        {{ ingredient.status }}
        <img src="http://aston-api.francecentral.cloudapp.azure.com:8080/lunchtime/img/ingredient/{{ ingredient.label }}.png" alt="">
        <p>{{ ingredient.label }}</p>
        <p>{{ ingredient.description }}</p>
        <button mat-button (click)="openEditDialog(ingredient.id)">Mettre a jour</button>
        <button mat-button (click)="openDeleteDialog(ingredient.id)">Supprimer</button>
    </div>
</div>
