<p>ingredient-detail works!</p>
<div>
    <div class="col">
        <button mat-button (click)="closeDialog()" [routerLink]="['/cantiniere/ingredients']">Retour</button>
        {{ ingredient.id }}
        {{ ingredient.status }}
        <img src="http://localhost:8080/lunchtime/{{ ingredient.image }}" alt="">
        <p>{{ ingredient.label }}</p>
        <p>{{ ingredient.description }}</p>
<!--         <button mat-button (click)="openEdDialog(ingredient.id)">Mettre a jour</button>
 -->        <!-- <button mat-button (click)="openDelDialog(ingredient.id)">Supprimer</button> -->
    </div>
</div>
