<!-- Bannière -->
<div class="banniere">
  <div class="banniere-left">
    <div class="banniere-left--title">
      <h1 class="h1">La cantinière</h1>
      <p class="banniere-left--description">La cuisine d'école cool</p>
    </div>
  </div>
  <div class="banniere-right"></div>
  <div class="banniere-buttons">
    <a class="btn-link--blue" href="/register" target="">Créer un compte</a>
  </div>
  <div class="banniere-informations">
    <div class="banniere-information cagnotte">
      <i class="material-icons banniere-information--icon">restaurant</i>
      <span>La cagnotte se crédite auprès de la cantinière</span>
    </div>
    <div class="banniere-information plat">
      <i class="material-icons banniere-information--icon">query_builder</i>
      <span>Commandez votre plat avant 10h30</span>
    </div>
    <div class="banniere-information paiement">
      <i class="material-icons banniere-information--icon">euro_symbol</i>
      <span>Réglez avec votre cagnotte</span>
    </div>
    <div class="banniere-information appetit">
      <i class="material-icons banniere-information--icon">local_dining</i>
      <span>Bon Appétit !</span>
    </div>
  </div>
</div>

<!-- Card -->
<div class="homepage-card">
  <div class="card-title container">
    <i class="material-icons card-title--icon">room_service</i>
    <h2 class="h2">Les menus de la semaine</h2>
  </div>
  <div class="card-content container">
    <div class="card-container" *ngFor="let menu of menuList">
      <div class="card" *ngIf="menu.meals">
        <img class="card-img-top" src="http://aston-api.francecentral.cloudapp.azure.com:8080/lunchtime/{{menu.meals[0].image}}"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title h5">{{menu.meals[0].label}}</h5>
          <p class="card-text">{{menu.priceDF}}€</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Next Card -->
<div class="homepage-next">
  <div class="homepage-next--title container">
    <i class="material-icons homepage-next--icon">local_dining</i>
    <h3 class="h3">La cantinière vous propose la suite<br>(Toujours aussi bon)</h3>
    <span class="homepage-next--description">
      Des plats équilibrés et savoureux afin de satisfaire toutes vos envies
    </span>
  </div>
  <div class="homepage-next--container">
    <div class="homepage-next--container-content first"></div>
    <div class="homepage-next--container-content second"></div>
    <div class="homepage-next--container-content third"></div>
  </div>

  <div class="homepage-card--buttons">
    <a class="btn-link--orange" href="#" target="">Il y en a d'autres</a>
  </div>
</div>
