// Headings
.h1 {
  font-size: 2.6rem;
  font-weight: bold;
  color: #323232;
}

.h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #004D5D;
  margin-bottom: 30px;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    font-size: 22px !important;
  }
}

.h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #004D5D;
  margin-bottom: 25px;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    font-size: 20px !important;
  }
}

.h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #004D5D;
  margin-bottom: 25px;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    font-size: 18px !important;
  }
}

.h5 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #004D5D;
  margin-bottom: 25px;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    font-size: 16px !important;
  }
}

// Buttons
.btn-link--blue {
  padding: 12px 35px 15px;
  border: 1px solid #004D5D;
  border-radius: 10px;
  color: #004D5D;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #004D5D;
    background-color: #004D5D;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 12px 15px 15px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    padding: 12px 15px 15px;
  }
}

.btn-link--orange {
  padding: 12px 35px 15px;
  border: 1px solid #FF9900;
  border-radius: 10px;
  color: #FF9900;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 12px 15px 15px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    padding: 12px 15px 15px;
  }
}

// SubSButtons
.btn-sublink--blue {
  padding: 8px 35px 8px;
  border: 1px solid #004D5D;
  border-radius: 10px;
  color: #004D5D;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #004D5D;
    background-color: #004D5D;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
  }
}

.btn-sublink--orange {
  padding: 8px 35px 8px;
  border: 1px solid #FF9900;
  border-radius: 8px;
  color: #FF9900;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
  }
}
