<p>ingredient-form works!</p>
<div *ngIf="ingredientsData.formType === 'add'; else edit">
    <h1 mat-dialog-title>Formulaire d'ajout d'ingredient</h1>
    <div mat-dialog-content [formGroup]="ingredientForm" (ngSubmit)="addIngredient()">
        <form>
            <label mat-label for="label">Label</label>
            <input matInput name="label" id="label" type="text" [formControlName]="label" placeholder="label">

            <label mat-label for="image">Image</label>
            <input matInput name="image" id="image" type="text" [formControlName]="image" placeholder="image">

            <label mat-label for="description">Description</label>
            <input matInput name="description" id="description" type="text" [formControlName]="description" placeholder="description">
            
            <div mat-dialog-actions>
                <button mat-button class="mat-raised-button mat-primary" type="submit">Ajouter</button>
                <button mat-button class="mat-raised-button" (click)="closeDialog()">Annuler</button>
            </div>
        </form>
    </div>
</div>
<ng-template #edit>
    <h1 mat-dialog-title>Formulaire d'edition d'ingredient</h1>
    <div mat-dialog-content [formGroup]="ingredientForm" (ngSubmit)="editIngredient()">
        <form>
            <label mat-label for="label">Label</label>
            <input matInput name="label" id="label" type="text" [formControlName]="label" placeholder="label">

            <label mat-label for="image">Image</label>
            <input matInput name="image" id="image" type="text" [formControlName]="image" placeholder="image">

            <label mat-label for="description">Description</label>
            <input matInput name="description" id="description" type="text" [formControlName]="description" placeholder="description">

            <div mat-dialog-actions>
                <button mat-button class="mat-raised-button mat-primary" type="submit">Editer</button>
                <button mat-button class="mat-raised-button" (click)="closeDialog()">Annuler</button>
            </div>
        </form>
    </div>
</ng-template>