<div>
  <div class="header">
    <h2>Commander un plat</h2>
    <p *ngIf="hasSubmitted">Votre commande a été ajoutée à votre panier</p>
    <button (click)="validate()">Valider</button>
  </div>
  <div *ngIf="menusAvailable" class="row">
    <div *ngFor="let menu of menusAvailable" (click)="addMenu(menu)" class="col-4 menu-item">
      <label for="{{menu.id}}">{{menu.label}} </label>
      <span> | {{menu.priceDF}} €</span>
      <input id="{{menu.id}}" type="checkbox" [checked]="menu.id === selectedMealId" />
      <div *ngFor="let meal of menu.meals; let i = index">
        <div>
          <p>{{meal.label}}</p>
          <img src="/assets/{{meal.image}}" [alt]="meal.image" />
          <input *ngIf="menu.id === selectedMealId" id="quantity" type="number" [(ngModel)]="mealsQuantity[i].quantity" />
        </div>
      </div>
    </div>
  </div>
  <button (click)="openMealListModal()" class="btn-primary">Repas à l'unité</button>
</div>