<div class="user-add container">
  <div class="h2 user-add__title d-flex">
    <h2>Commander un plat</h2>
    <p *ngIf="hasFailed === false">Votre commande a bien été prise en compte</p>
    <p *ngIf="hasFailed && hasFailed.length > 1">{{hasFailed}}</p>
    <button class="btn-link--blue" (click)="validate()"><i class="material-icons">done</i></button>
    <i class="material-icons more" (click)="openMealListModal()" style="color: green">add_circle</i>
  </div>
  <h2>Commander un menu</h2>
  <div *ngIf="menusAvailable"  class="user-add__container row">
    <div *ngFor="let menu of menusAvailable" (click)="addMenu(menu)" class="user-add__item col-4 menu-item">
      <label class="user-add__item--title" for="{{menu.id}}">{{menu.label}} </label>
      <div class="user-add__item--checkbox">
        <input id="{{menu.id}}" type="radio" [checked]="menu.id === selectedMealId" />
        <span>{{menu.priceDF}} €</span>
      </div>
      <div *ngFor="let meal of menu.meals; let i = index">
        <div class="user-add__item--content">
          <p class="user-add__item--meal">{{meal.label}}</p>
          <img class="user-add__item--picture" src="/assets/{{meal.image}}" [alt]="meal.image" />
          <input class="user-add__item--add" *ngIf="menu.id === selectedMealId" id="quantity" type="number"
            [(ngModel)]="mealsQuantity[i].quantity" />
        </div>
      </div>
    </div>
  </div>
