<nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarNavDropdown3" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-controls="navbarNavDropdown3" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <app-cart></app-cart>
  <a class="navbar-brand" href="/">
    <img src="../../../../../assets/img/svg/logo_la_cantiniere_desk.svg" alt="Logo La Cantiniere">
  </a>
  <div class="collapse width navbar-collapse bg-faded" id="navbarNavDropdown3">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="material-icons">home</i> Home</a>
        <div *ngIf="isLunchLady">
          <hr>
          <a [routerLink]="['/cantiniere/manage']" class="nav-link">
            <i class="material-icons">assignment_ind</i> Utilisateurs </a>
          <hr>
          <a [routerLink]="['/cantiniere/menu']" class="nav-link">
            <i class="material-icons">restaurant</i> Menus </a>
          <hr>
          <a [routerLink]="['/cantiniere/orders']" class="nav-link">
            <i class="material-icons">view_day</i> Commandes </a>
        </div>
        <hr *ngIf="isConnected" />
        <a class="nav-link" *ngIf="isConnected" href="/user/add">
          <i class="material-icons">subdirectory_arrow_left</i> Commander
        </a>
        <hr *ngIf="isConnected" />
        <a class="nav-link" *ngIf="isConnected" href="/user/profile">
          <i class="material-icons">account_circle</i> {{ user?.name }}
        </a>
        <hr>
        <span *ngIf="isConnected" class="nav-link">
          <i class="material-icons">payment</i> {{ user?.wallet }} €
        </span>
        <app-button class="m-auto nav-link" (action)="isConnected ? logout() : openLoginModal()"
          [text]="isConnected ? 'Déconnexion' : 'Connexion'"></app-button>
      </li>

    </ul>
  </div>
</nav>