<div class="container-fluid col-6">

    <div class="text-center m-2">
        Création de compte
    </div>

    <div class="bg-light custom-box custom-span">
        <div class="col-6 mx-auto">
            <form [formGroup]="form" (ngSubmit)="submit(form)">
                <div class="mt-2 form-group">
                    <span class="span-left row">Nom</span>
                    <input type="text" formControlName="name" class="form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Prénom</span>
                    <input type="text" formControlName="firstname" class="form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required>
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Email</span>
                    <input type="text" formControlName="email" class="form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Mot de Passe</span>
                    <input type="password" formControlName="password" class="pass form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback" required>
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Mot de Passe (Confirmation)</span>
                    <input type="password" class="pass form-control mx-auto span-outline" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required>
                    <div *ngIf="submitted && f.confirmPassword.errors " class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Adresse</span>
                    <input type="text" formControlName="address" class="form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required>
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                </div>
                <div class="row justify-content-between mt-2 form-group">
                    <div class="col-6">
                        <span class="span-left">Ville</span>
                        <input type="text" formControlName="town" class="form-control mx-auto span-outline" 
                        [ngClass]="{ 'is-invalid': submitted && f.town.errors }" required>
                        <div *ngIf="submitted && f.town.errors" class="invalid-feedback">
                            <div *ngIf="f.town.errors.required">Town is required</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="span-left">Code Postal</span>
                        <input type="text" formControlName="postalCode" class="form-control mx-auto span-outline"
                        [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" required>
                        <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                            <div *ngIf="f.postalCode.errors.required">Postal Code is required</div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 form-group">
                    <span class="span-left row">Téléphone</span>
                    <input type="text" formControlName="phone" class="form-control mx-auto span-outline" 
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone number is required</div>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-around form-group" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="sex" value="0"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Homme</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" formControlName="sex" value="1"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Femme</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="sex" value="2"
                         class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Autre</label>
                    </div>
                </div>
                <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                    <div *ngIf="f.sex.errors.required">Gender is required</div>
                </div>
                <div *ngIf="email" class="text-center m-2 ">
                    Cet email est déjà renseigné dans la base de données. Si vous ne disposez plus du mot de passe associé rendez vous ici : 
                    <button class="my-2 btn-link--blue" [routerLink]="['/forgotpassword']">
                        Mot de passe oublié
                    </button>
                </div>
                <div class="text-center mx-auto">
                    <button type="submit" class="btn btn-outline w-50 mt-3">Valider les changements</button>
                </div>
            </form>
        </div>
    </div>
</div>