<form [formGroup]="loginForm" mat-dialog-content class="text-center" (ngSubmit)="sendLogin()">
  <div>
    <label for="email">Email:</label>
    <input id="email" type="text" formControlName="email" placeholder="email" />
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input id="password" type="password" formControlName="password"  placeholder="password"/>
  </div>
  <button class="btn" type="submit">Connexion</button>
</form>
<button (click)="requestPassword()" [routerLink]="['/forgotpassword']" class="btn">Mot de passe oublié ?</button>
