<form [formGroup]="loginForm" mat-dialog-content class="text-center" (ngSubmit)="sendLogin()">
  <div>
    <label  for="email">Email:</label>
    <input class="span-outline" id="email" type="text" formControlName="email" placeholder="email" />
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input class="span-outline" id="password" type="password" formControlName="password" placeholder="password" />
  </div>
  <button class="btn-link--orange" type="button" (click)="sendLogin()">Connexion</button>
</form>
<small><button (click)="requestPassword()" [routerLink]="['/forgotpassword']" class="btn-link--orange">Mot de passe
    oublié ?</button></small>