
.input-outline {
    border: 1px solid #FF9900;
    background: #ffffff;
    background-color: rgba(214, 214, 214, 0.849);
    border-radius: 9px;
}

.btn-orange {
    border: 1px solid #004D5D;
    border-radius: 9px;
    background-color: #004D5D;
    color: white;
}