<div class="meal-list">
  <div class="meal-list__buttons">
    <button class="btn-link--orange" (click)="close(true)">Valider</button>
    <button class="btn-link--blue" (click)="close()">Annuler</button>
  </div>
  <div class="meal-list__container">
    <div *ngFor="let ingredient of ingredients" [ngClass]="{ingredient: true, selected: isSelected(ingredient.id)}"
      (click)="isSelected(ingredient.id) ? removeIngredient(ingredient) : addIngredient(ingredient)">
      <div class="ingredient-list__content">
        <span class="ingredient-list__selected">{{isSelected(ingredient.id) ? 'V' : 'X'}}</span>
        <p class="ingredient-list__title">{{ingredient.label}}</p>
      </div>
      <img src="/assets/{{ingredient.image}}" [alt]="ingredient.image" />
    </div>
  </div>
</div>
