
.input-outline {
    border: 1px solid #FF9900;
    background: #ffffff;
    text-align:center;
    border-radius: 9px;
    margin: 0 auto;
}

.btn-orange {
    border: 1px solid #004D5D;
    border-radius: 9px;
    background-color: #004D5D;
    color: white;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    min-height: 50vh;
  }

.form-custom {
    border: 1px solid #FF9900;
    border-radius: 9px;
}

  