<div class="col-3 mx-auto center-screen">
    <form class="form-custom" [formGroup]="form" (ngSubmit)="forgotPassword(form)">
        <div class="row">
            <label for="email" class="mx-5 my-4">Renseignez une addresse email valide afin de recevoir votre
                mot de
                passe</label>
        </div>
        <div class="row my-3 mx-auto">
            <input name="email" id="email" placeholder="email@example.com" [email]="true" formControlName="email"
                class="input input-outline" type="text" ngModel />
        </div>
        <div class="row my-3 mx-auto">
            <div *ngIf="submitted && f.email.errors" class="row text-center">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <button type="submit" class="my-3 mb-3 btn-link--blue">Récuperer mon mot de
            passe</button>
    </form>
</div>
