.shopping_cart {
  // position: relative;
  z-index: 999;
}

i {
  font-size: 30px;
  position: absolute;
}

.dropdown {
  position: absolute;
  top: 100px;
  // bottom: 0;
  height: auto;
  background-color: white;
  border: 1px solid #FF9900;
}