<div class="container">
    <div class="col-6 mx-auto">
        <div class="row">
            <div class="col-auto">
                <label for="start">Date de début: </label>
                <br />
                <input id="start" type="date" [(ngModel)]="startDate" />
            </div>
            <div class="col-auto">
                <label for="end">Date de fin: </label>
                <br />
                 <input id="end" type="date" [(ngModel)]="endDate" />
            </div>
            <div class="col-auto">
                <button (click)="searchByDate()" class="btn btn-success">Valider</button>
            </div>
        </div>
    </div>
    <h3 *ngIf="today">Today History</h3>
    <div *ngFor="let order of history">
        <div *ngIf="order.quantityMeals">
            <div class="card m-3" *ngFor="let meal of order.quantityMeals">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            Repas {{ meal.meal.id }}
                        </div>
                        <div class="col-6 text-right">
                            {{ meal.meal.priceDF }} €
                        </div>
                    </div>
                </div>
                <div class="card-body list">
                    <div class="card result">
                        <div class="card-header">
                            <img class="card-img-top" *ngIf="meal.meal.image" src="/assets/{{ meal.meal.image }}" alt="{{ meal.meal.image }}">
                        </div>
                        <div class="card-body">
                            {{ meal.meal.label }}
                        </div>
                        <div class="card-footer">
                            {{ meal.meal.priceDF }} €
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Commandé le {{ meal.creationDate | date }} à {{ meal.creationDate | date:'shortTime' }}
                </div>
            </div>
        </div>
        <div *ngIf="order.menu">
            <div class="card m-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            {{ order.menu.label }}
                        </div>
                        <div class="col-6 text-right">
                            {{ order.menu.priceDF }} €
                        </div>
                    </div>
                </div>
                <div class="card-body list">
                    <div class="card result" *ngFor="let meals of order.menu.meals">
                        <div class="card-header">
                            <img class="card-img-top" *ngIf="meals.image" src="/assets/{{ meals.image }}" alt="{{ meals.image }}">
                        </div>
                        <div class="card-body">
                            {{ meals.label }}
                        </div>
                        <div class="card-footer">
                            {{ meals.priceDF }} €
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Commandé le {{ order.creationDate | date }} à {{ order.creationDate | date:'shortTime' }}
                </div>
            </div>
        </div>
    </div>
</div>